html,
body {
  /* remove padding at the top of navbar */
  margin: 0;
  padding: 0;
  background-color: #f6f6f5; /* 頁面背景顏色 */
}
/* 用 flex 讓 footer 能自然推到底 */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 內容區塊撐開剩餘空間 */
.main-content {
  flex: 1;
  margin-top: 65px; /* 為固定 navbar 留出空間 */
}
